body {
    background-color: #3b2a2a;
    font-family: "VT323", monospace;
    color: #ffe6e9;
    margin: 0;
    overflow: hidden;
}

/* PHONE ICON */
.phone {
    width: 130px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    animation: ring 1.2s infinite ease-in-out;
    cursor: pointer;
}

@keyframes ring {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(7deg); }
    50% { transform: rotate(-7deg); }
    75% { transform: rotate(7deg); }
    100% { transform: rotate(0deg); }
}

/* VN WINDOW */
.vn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: #5c3d3d;
    border: 4px solid #cc4455;
    padding: 20px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.vn-sprite img {
    width: 250px;
    image-rendering: pixelated;
}

.vn-dialogue {
    background: #ffe6e9;
    color: #3b2a2a;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 24px;
}

.vn-choices button {
    background: #ff99aa;
    color: #3b2a2a;
    border: 3px solid #cc4455;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 8px;

    .form-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffe6e9;
    padding: 25px;
    width: 350px;
    border: 4px solid #cc4455;
    border-radius: 12px;
    color: #3b2a2a;
    font-family: "VT323", monospace;
    z-index: 9999;
}

.form-box input,
.form-box textarea {
    width: 100%;
    margin: 10px 0;
    font-size: 20px;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #cc4455;
}

.form-box button {
    background: #ff99aa;
    border: 2px solid #cc4455;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 6px;
}

.close-btn {
    background: #cc4455;
    color: white;
    margin-top: 10px;
}

}
